.card {
  --card-space: 40px auto;
  --card-height: 100%;
  --card-border: var(--border);
  --card-shadow: var(--shadow);
  --card-head-space: 1rem 1.5rem;
  --card-body-space: 1rem 1.5rem;
  --card-foot-space: 1rem 1.5rem;
  --card-body-height: 100%;
  --card-rounded: var(--rounded);
  --card-bg: var(--body);
  --card-title-color: var(--text);
  --card-title-size: clamp(18px, 80vw, 22px);
  --card-title-space: 8px 0;
  --card-title-wgt: 600;
  --card-subtitle-color: var(--text);
  --card-subtitle-size: clamp(16px, 80vw, 20px);
  --card-subtitle-space: 8px 0;
  --card-subtitle-wgt: 500;
  --card-desc-color: var(--muted);
  --card-desc-size: clamp(12px, 80vw, 14px);
  --card-desc-space: 8px 0;
  --card-badge-size: 1rem;
  --card-badge-space: 8px 0;
  --card-image-width: 100%;
  --card-image-height: 150px;
  --card-image-rounded: var(--rounded);
  --card-image-space: auto;
  box-shadow: var(--card-shadow);
  position: relative;
  background-color: var(--card-bg);
  border-radius: var(--card-rounded);
  height: var(--card-height);
  margin: var(--card-space);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: 1px solid var(--card-border);
  margin-bottom: 40px;

  .card-title {
    font-size: var(--card-title-size);
    color: var(--card-title-color);
    margin: var(--card-title-space);
    font-weight: var(--card-title-wgt);
    a {
      color: var(--card-title-color);
      text-decoration: none;
      &:hover {
        color: var(--primary);
        text-decoration: underline;
      }
    }
  }
  .card-subtitle {
    font-size: var(--card-subtitle-size);
    color: var(--card-subtitle-color);
    margin: var(--card-subtitle-space);
    font-weight: var(--card-subtitle-wgt);
    a {
      color: var(--card-subtitle-color);
      text-decoration: none;
      &:hover {
        color: var(--primary);
        text-decoration: underline;
      }
    }
  }
  .card-desc {
    font-size: var(--card-desc-size);
    color: var(--card-desc-color);
    margin: var(--card-desc-space);
    a {
      color: var(--card-desc-color);
      text-decoration: none;
      &:hover {
        color: var(--primary);
        text-decoration: underline;
      }
    }
  }

  .card-link {
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: var(--text);
    }
  }

  .card-icon {
    font-size: 3rem;
    color: var(--primary);
    padding: 10px;
    border-radius: 50px;
    background-color: var(--primary-subtle);
    margin-bottom: 15px;
  }

  .card-image {
    width: var(--card-image-width);
    height: var(--card-image-height);
    min-height: var(--card-image-height);
    display: inline-block;
    border-radius: var(--card-image-rounded);
    background-color: var(--light);
    margin: var(--card-image-space);
    text-decoration: none;
    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: inherit;
    }
  }

  .card-badge {
    color: var(--primary);
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: var(--card-badge-size);
    margin-bottom: var(--card-badge-space);
  }
  .card-head {
    padding: var(--card-head-space);
    width: 100%;
  }
  .card-body {
    padding: var(--card-body-space);
    width: 100%;
    height: var(--card-body-height);
  }
  .card-foot {
    padding: var(--card-foot-space);
    width: 100%;
  }
  .card-items {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
    .item {
      display: flex;
      align-items: center;
      margin: 0 5px;
      font-size: 14px;
      b {
        font-weight: 600;
      }
      .icon {
        font-size: 20px;
        margin: 0 5px;
      }
      &:first-child {
        margin-left: 0;
      }
    }
    &.card-items-divider {
      .item {
        &:not(:first-child)::before {
          content: ".";
          position: relative;
          top: -4px;
          color: var(--primary);
        }
      }
    }
  }
}
