.error-card {
  --card-border: transparent;
  --card-shadow: 0px 0px;
  --card-margin: 100px auto 150px auto;
  --card-title-size: clamp(40px, 80vw, 150px);
  --card-title-wgt: normal;
  --card-subtitle-size: clamp(24px, 80vw, 30px);
  --card-subtitle-wgt: 500;
  --card-desc-margin: 25px;
  text-align: center;
  align-items: center;
  width: clamp(270px, 80vw, 560px);

  .card-title {
    color: transparent;
    -webkit-text-stroke: 3px var(--primary);
  }
}
