.form-card {
  .c-head {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem;
  }
  .c-body {
    padding-bottom: 0rem;
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }
  .c-foot {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3rem;
  }
}
