.freelancer-card {
  --card-image-width: 80px;
  --card-image-height: 80px;
  --card-image-rounded: 80px;
  .card-head {
    position: relative;
    .card-items {
      position: absolute;
      right: 10px;

      .charges {
        left: auto;
        right: 20px;
        top: 25px;
        font-weight: bold;
        color: var(--text);
        font-size: 1rem;
      }
    }
  }
}
