.freelancer-card {
  --card-height: auto;
  --card-image-width: 60px;
  --card-image-height: 60px;
  --card-image-rounded: 60px;
  --card-title-size: clamp(14px, 50vw, 16px);
  --card-border: transparent;

  .card-head {
    position: relative;
    .card-items {
      position: absolute;
      right: 10px;
      top: 20px;

      .charges {
        left: auto;
        right: 20px;
        top: 25px;
        font-weight: bold;
        color: var(--text);
        font-size: 1rem;
      }
    }
  }
  .card-foot {
    --card-subtitle-size: clamp(12px, 50vw, 14px);
    --card-desc-size: clamp(12px, 50vw, 16px);
    display: flex;
    align-items: center;
    .card-col {
      width: 100%;
    }
  }
}
