.skill-card {
  --card-height: auto;
  --card-border: transparent;
  --card-image-height: 200px;
  --card-title-size: clamp(14px, 50vw, 16px);
  --card-image-rounded: var(--rounded) var(--rounded) 0 0;
}
