.subscribe-card {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: 2px solid var(--primary);
  .media {
    margin: 0;
    .media-icon {
      font-size: 6rem;
    }
  }

  .form-group {
    flex-direction: row;
    margin: 0;
    .form-field {
      border-radius: 50px;
      border: 2px solid var(--primary);
      margin-right: 1rem;
    }
  }
}
