.team-card {
  border: none;

  .c-head {
    text-align: center;
    .image {
      border-radius: 50%;
    }
  }

  .c-body {
    text-align: center;
    border-radius: get-var(rounded);
    transition: bottom 1s;
    padding-top: 0rem;
    padding-bottom: 2rem;

    .c-title {
      margin-bottom: 3px;
    }

    .c-desc {
      margin-bottom: 0;
    }
  }
}
