.footer {
  background-color: var(--body);

  .logo {
    display: inline-block;
  }

  .first {
    margin-top: 4rem;
    margin-bottom: 4rem;

    .l-link {
      font-weight: 600;
    }

    @media (max-width: screen-size(sm)) {
      flex-direction: column;
      .inline-list {
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
      }
      .social-group {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .last {
    margin-bottom: 2rem;

    @media (max-width: screen-size(sm)) {
      flex-direction: column;
      .inline-list {
        justify-content: center;
        margin-top: 1rem;
      }
    }
  }
}
