.footer {
  background-color: var(--body);

  .row {
    margin-top: 4rem;
    margin-bottom: 2rem;
    .logo {
      display: inline-block;
    }
    .f-list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      list-style: none;
      .l-item {
        .l-link {
          text-decoration: none;
          padding: 0rem 0.8rem;
          color: var(--text);
          font-weight: 400;
          &:hover {
            color: var(--primary);
            text-decoration: underline;
          }
        }
      }
    }

    .social-group {
      justify-content: flex-end;
      margin: 0;
    }

    &.first {
      justify-content: space-between;
      margin-bottom: 5rem;
    }
    &.last {
      color: var(--muted);
      justify-content: space-between;
      .f-list {
        justify-content: flex-end !important;
        .l-item {
          .l-link {
            color: var(--muted);
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
