.navbar {
  background-color: transparent;
  background-color: var(--body);
  padding: 2rem 0;
  z-index: 999;
  position: relative;

  .nav-items {
    display: flex;
    align-items: center;

    .logo {
      display: inline-block;
      margin-right: auto;
      .image {
        width: 100px;
      }
    }

    .nav-menus {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
      .m-item {
        padding: 0 0.2rem;
        position: relative;

        .m-link {
          color: var(--text);
          text-decoration: none;
          margin: 0 0.5rem;
          font-size: 0.9rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          &:hover {
            color: var(--primary);
          }
        }
        .icon-link {
          font-size: 1.3rem;
          font-weight: 300;
        }
        .badge {
          position: absolute;
          top: 0;
          right: 0;
          margin-top: -10px;
          padding: 0.2rem 0.4rem;
          border-radius: 50px;
          box-shadow: var(--shadow);
          background-color: var(--primary);
          color: white;
          font-size: 0.8rem;
        }
        .avatar {
          object-fit: cover;
          object-position: top;
          width: 40px;
          min-width: 40px;
          height: 40px;
          min-height: 40px;
          padding: 2px;
          border: 2px solid var(--border);
          border-radius: 50px;
        }
      }
      @media (max-width: screen-size(sm)) {
        display: none;
      }
    }
    .n-hide {
      display: flex;
    }
  }

  .menu-btn {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: none;

    @media (max-width: screen-size(sm)) {
      display: block;
    }
    .bar1,
    .bar2 {
      width: 30px;
      height: 2px;
      background-color: var(--text);
      margin: 3px 0;
      transition: 0.4s;
      display: block;
      border-radius: 50px;
    }

    .bar2 {
      width: 25px;
      float: right;
    }

    &.close-icon {
      .bar1 {
        transform: translate(0, 4px) rotate(-45deg);
      }

      .bar2 {
        transform: translate(0, -4px) rotate(45deg);
        width: 30px;
      }
    }
  }
}
