.navbar {
  --nav-gap: 1.5rem 0;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
  z-index: 99;
  background-color: var(--body);
  padding: var(--nav-gap);
  .nav {
    display: flex;
    align-items: center;

    .logo {
      display: inline-block;

      .image {
        width: 120px;
      }
    }
    .items {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
      padding-left: 1rem;

      .item {
        padding: 0 0.4rem;

        .item-link {
          color: var(--muted);
          text-decoration: none;
          margin: 0 0.5rem;
          font-size: 0.9rem;
          font-family: "Segoe UI";
          font-weight: 600;
          &:hover {
            color: var(--primary);
          }
        }
      }
    }
    .end {
      margin-left: auto;
    }

    .menu-btn {
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      display: none;
      font-weight: 600;

      .bar1,
      .bar2 {
        width: 30px;
        height: 2px;
        background-color: white;
        margin: 3px 0;
        transition: 0.4s;
        display: block;
        border-radius: 50px;
      }

      .bar2 {
        width: 25px;
        float: right;
      }

      &.close-icon {
        .bar1 {
          transform: translate(0, 4px) rotate(-45deg);
        }

        .bar2 {
          transform: translate(0, -4px) rotate(45deg);
          width: 30px;
        }
      }
    }
  }
}
