.page-head {
  padding-top: 2rem;
  padding-bottom: 2rem;
  .p-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 2rem;
    @media (max-width: screen-size(sm)) {
      font-size: 1.6rem;
    }
  }

  .p-desc {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .page-link {
    color: var(--text);
  }
}

.page-body {
  margin-bottom: 6rem;
  .p-title {
    font-size: 3.4rem;
    font-weight: 500;
    font-family: "Prata", Times, serif;
    margin-bottom: 2rem;
  }

  .p-image {
    overflow: hidden;
    height: 500px;
    width: 100%;
    border-radius: var(--rounded);
    margin: 4rem 0;
    .image {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
      object-position: top;
    }
  }
  .p-content {
    margin-bottom: 6rem;
    * {
      font-size: 1.1rem;
      color: var(--text);
      font-weight: 400;
      line-height: 1.8rem;
    }

    a {
      font-weight: bold;
      font-size: 1rem;
      color: var(--primary);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 600;
      margin-bottom: 2.5rem;
    }

    p {
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.6rem;
    }
    h4 {
      font-size: 1.4rem;
    }
    h5 {
      font-size: 1.3rem;
    }
    h6 {
      font-size: 1.1rem;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-position: inside;
      margin-bottom: 2rem;
      li {
        padding: 0;
        margin-bottom: 0.5rem;
      }
    }
    &.dropcap::first-letter {
      font-size: 3.5em;
      font-weight: bold;
      margin-right: 4px;
      color: var(--primary);
    }
  }
}
