.page-head {
  padding-top: 2rem;
  padding-bottom: 2rem;
  .p-badge {
    background-color: var(--primary-subtle);
    color: var(--primary);
    padding: 0.2rem 0.8rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 1rem;
  }
  .p-title {
    font-size: 3rem;
    color: var(--text);
    margin-bottom: 2rem;
    font-family: "Prata", Times, serif;

    @media (max-width: screen-size(sm)) {
      font-size: 1.8rem;
    }
  }
  .p-desc {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: var(--muted);
  }
  .p-link {
    color: var(--text);
  }

  .p-image {
    overflow: hidden;
    width: 100%;
    border-radius: var(--rounded);
    margin: 2rem 0;
    .image {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
      object-position: top;
    }
  }
}

.page-body {
  * {
    color: var(--text);
    line-height: 1.8rem;
  }

  a {
    font-weight: bold;
    font-size: 1rem;
    color: var(--primary);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  p {
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  h4 {
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
  }
  h5 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }
  h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
    margin-bottom: 2rem;
    li {
      padding: 0;
      margin-bottom: 0.5rem;
    }
  }
  &.dropcap::first-letter {
    font-size: 3.5em;
    font-weight: bold;
    margin-right: 4px;
    color: var(--primary);
  }
}

.page-foot {
  padding-top: 2rem;
  padding-bottom: 6rem;
  .p-title {
    font-size: 1rem;
    font-weight: 600;
  }
}
