.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: get-var(body);
  box-shadow: get-var(shadow);
  overflow: auto;
  display: none;

  .sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    .head {
      padding: 10px 0.8rem;
    }
    .body {
      height: 100%;
      padding: 2rem 0.8rem;
      padding-top: 5rem;
      overflow: auto;

      .heading {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-transform: uppercase;
        color: get-var(muted);
      }

      .menu-list {
        counter-reset: menu;
        margin-bottom: 50px;
        .list-item {
          display: flex;
          align-items: center;
          .list-link {
            font-size: 2.2rem;
            text-decoration: none;
            color: get-var(text);
            &:hover {
              color: get-var(text);
              text-decoration: underline;
              text-decoration-color: get-var(primary);
            }
          }
          &::before {
            margin-right: 10px;
            color: get-var(text);
            font-size: 20px;
            counter-increment: menu;
            // content: "0" counter(menu) " \27F6 ";
          }
        }
      }

      .social-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        counter-reset: social;

        .social-link {
          font-size: 1rem;
          text-decoration: none;
          color: get-var(text);
          margin-bottom: 3px;
          display: flex;
          align-items: center;
          span {
            margin-right: 5px;
          }
        }
      }
    }
    .foot {
        padding: 10px 0.8rem;
      display: flex;
      align-items: center;
      border-top: 1px solid get-var(border);
      .btn {
        width: 100%;
        &:first-child {
          margin-right: 3px;
        }
        &:last-child {
          margin-left: 3px;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-right: solid 5px #1d1f20;
      background: #5f5f5f;
    }

    &::-webkit-scrollbar-track {
      border: none;
      background: #1d1f20;
    }
  }

  &.active {
    display: block;
  }
}
