.contact-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;

  .col-left {
    width: 50%;
    margin-bottom: 20px;
  }

  .col-right {
    width: 30%;
    margin-bottom: 20px;
  }
}