.contact-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
  align-items: center;

  .col-left {
    width: 40%;
    margin-bottom: 20px;
    @media (max-width: screen-size(lg)) {
      width: 100%;
    }
  }

  .col-right {
    width: 50%;
    margin-bottom: 20px;
    @media (max-width: screen-size(lg)) {
      width: 100%;
    }
  }
}
