.boxed {
  --box-space: 0.5rem;
  --box-width: 90%;
  width: var(--box-width);
  padding-right: calc(var(--box-space) * 0.1);
  padding-left: calc(var(--box-space) * 0.1);
  margin-right: auto;
  margin-left: auto;
  @media (min-width: screen-size(sm)) {
    --box-width: 97%;
  }
  @media (min-width: screen-size(md)) {
    --box-width: 95%;
  }
  @media (min-width: screen-size(lg)) {
    --box-width: 90%;
  }
  @media (min-width: screen-size(xl)) {
    --box-width: 80%;
  }
  @media (min-width: screen-size(xxl)) {
    --box-width: 70%;
  }
}
