.m-0 {
  margin: 0rem;
}
.mx-1 {
  margin: 0 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}

.mx-2 {
  margin: 0 2rem;
}
.my-2 {
  margin: 2rem 0;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mt-2 {
  margin-top: 2rem;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
