.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-label {
  margin-bottom: 0.2rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.form-field {
  background-color: var(--light);
  border-radius: var(--rounded);
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  border: 1px solid var(--border);
  &:focus {
    box-shadow: inset var(--dark) 0px 0px 0px 2px;
  }
}
