.search-group {
  display: flex;
  align-items: center;
  background-color: var(--light);
  border-radius: calc(var(--rounded) * 5);
  padding: 0.5rem;
  width: 40%;
  margin: auto;
  margin-top: -2rem;
  .field {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--text);
    &::placeholder {
      color: inherit;
    }
  }
  .btn-search {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--primary);
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  @media(max-width: screen-size(sm)){
    width: 90%;
  }
}
