<article class="card blog-card">
    <a class="card-image zoom" href="blog-details.html">
        <img src="./assets/images/blogs/b1.jpg" alt="" class="image" />
    </a>
    <div class="card-body">
        <a href="blogs.html" class="card-badge">lorem ipsum</a>
        <b>24 july 2024</b>
        <h3 class="card-title">
            <a href="blog-details.html">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem possimus voluptatum adipisci.
            </a>
        </h3>
        <p class="card-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus corrupti aperiam pariatur asperiores saepe placeat
        </p>
    </div>
</article>