<article class="card freelancer-card">
    <div class="card-head">
        <ul class="card-items">
            <li class="item"> <span class="status chip">Active</span></li>
            <li class="item"><span class="charges">5/hrs</span></li>
        </ul>
        <a class="card-image" href="freelancer-details.html">
            <img src="https://laborx.com/static/images/avatars/user-0-80.png" class="image" alt="" />
        </a>
    </div>
    <div class="card-body">
        <h3 class="card-title">
            <a href="freelancer-details.html">Abdul Hannan</a>
        </h3>
        <p class="card-desc">Full Stack Web Developer</p>
        <div class="chips">
            <a href="freelancers.html" class="chip chip-primary">Python</a>
            <a href="freelancers.html" class="chip chip-primary">Php</a>
            <a href="freelancers.html" class="chip chip-primary">Web Development</a>
            <a href="freelancers.html" class="chip chip-primary">C++</a>
            <a href="freelancers.html" class="chip chip-primary">Html</a>
            <a href="freelancers.html" class="chip chip-primary">Css</a>
            <a href="freelancers.html" class="chip chip-primary">Javascript</a>
            <a href="freelancers.html" class="chip chip-primary">5+</a>
        </div>
    </div>
    <div class="card-foot">
        <div class="card-items">
            <div class="item">
                <p>0</p>
                <h3>Jobs done</h3>
            </div>
            <div class="item">
                <p>0</p>
                <h3>Avg Reviews</h3>
            </div>
            <div class="item">
                <p>0</p>
                <h3>Reputation</h3>
            </div>
        </div>
    </div>
</article>