<article class="card gig-card">
    <a class="card-image" href="gig-details.html">
        <img src="./assets/images/gigs/g1.webp" class="image" alt="" />
    </a>
    <div class="card-body">
        <div class="media">
            <a class="media-image" href="freelancer-details.html">
                <img src="./assets/images/man.png" class="image" alt="" />
            </a>
            <div class="media-body">
                <a class="media-title" href="freelancer-details.html">
                    Abdul Hannan
                    <span class="bx bxs-badge-check v-badge"></span>
                </a>
            </div>
        </div>
        <h2 href="gig-details.html" class="card-title">
            <a href="">i will proffessionaly deign, create a cutome website,website</a>
        </h2>
        <div class="chips">
            <a href="gigs.html" class="chip chip-primary">HTML 5</a>
            <a href="gigs.html" class="chip chip-primary">CSS 3</a>
            <a href="gigs.html" class="chip chip-primary">SCSS</a>
            <a href="gigs.html" class="chip chip-primary">JAVASCRIPT</a>
            <a href="gigs.html" class="chip chip-primary">JQuery</a>
            <a href="gigs.html" class="chip chip-primary">Bootstrap 5</a>
            <a href="gigs.html" class="chip chip-primary">Uikit</a>
        </div>
    </div>
    <div class="card-foot">
        <ul class="card-items">
            <li class="item"><b>5/hr</b></li>
        </ul>
        <div class="ratings">
            <span class="bx bxs-star icon active"></span>
            <b class="text">4.3</b>
        </div>
    </div>
</article>