<article class="card job-card">
    <div class="card-head">
        <div class="media">
            <a href="customer-details.html" class="media-image">
                <img src="assets/images/man.png" class="image" alt="" />
            </a>
            <div class="media-body">
                <a class="media-title" href="customer-details.html">Abdul Hannan</a>
                <p class="media-desc">5 hours ago</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h3 class="card-subtitle">Fixed price: 5$</h3>
        <h3 class="card-title">
            <a href="job-details.html">Support Specialist</a>
        </h3>
        <div class="chips">
            <a href="jobs.html" class="chip chip-primary">HTML 5</a>
            <a href="jobs.html" class="chip chip-primary">CSS 3</a>
            <a href="jobs.html" class="chip chip-primary">SCSS</a>
            <a href="jobs.html" class="chip chip-primary">JAVASCRIPT</a>
            <a href="jobs.html" class="chip chip-primary">JQuery</a>
            <a href="jobs.html" class="chip chip-primary">Bootstrap 5</a>
            <a href="jobs.html" class="chip chip-primary">Uikit</a>
        </div>
    </div>
    <div class="card-foot">
        <ul class="card-items">
            <li class="item">Reviews (0)</li>
            <li class="item">
                <div class="ratings">
                    <span class="bx bxs-star icon active"></span>
                    4.3
                </div>
            </li>
        </ul>
    </div>
</article>