<article class="card vacancy-card">
    <div class="card-head">
        <div class="media">
            <a href="customer-details.html" class="media-image">
                <img src="assets/images/man.png" class="image" alt="" />
            </a>
            <div class="media-body">
                <a class="media-title" href="customer-details.html">Abdul Hannan</a>
                <p class="media-desc">5 hours ago</p>
            </div>
            <div class="media-ctrl">
                <b class="chip chip-danger">Featured</b>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h3 class="card-title">
            <a href="vacancy-details.html">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
                modi amet ut officiis nostrum, consequatur praesentium
                repudiandae assumenda repellat fuga necessitatibus totam dolores
                illum dolorem nisi vitae inventore quae eveniet?
            </a>
        </h3>
        <div class="chips">
            <a href="vacancies.html" class="chip chip-primary">HTML 5</a>
            <a href="vacancies.html" class="chip chip-primary">CSS 3</a>
            <a href="vacancies.html" class="chip chip-primary">SCSS</a>
            <a href="vacancies.html" class="chip chip-primary">JAVASCRIPT</a>
            <a href="vacancies.html" class="chip chip-primary">JQuery</a>
            <a href="vacancies.html" class="chip chip-primary">Bootstrap 5</a>
            <a href="vacancies.html" class="chip chip-primary">Uikit</a>
        </div>
    </div>
    <div class="card-foot">
        <ul class="card-items card-items-divider">
            <li class="item">Full-time</li>
            <li class="item">Remote</li>
            <li class="item">Lahore, Pakistan</li>
        </ul>
    </div>
</article>