:root {
  --primary: #1daa4b;
  --primary-subtle: #e0ffea;
  --primary-hover: #068731;
  --warning: #fc6736;
  --warning-subtle: #fcf4f2;
  --warning-hover: #fc6736;
  --danger: #f90000;
  --danger-subtle: #fbf1f1;
  --danger-hover: #f41d1d;
  --success: #00a700;
  --success-subtle: #f5fcf5;
  --success-hover: #098809;
  --light: #eff3f1;
  --light-subtle: #eff3f9;
  --light-hover: #d8e6fc;
  --dark: #151414;
  --dark-hover: #404040;
  --dark-subtle: #cfcfcf;
  --muted: #5e6771;
  --body: #ffffff;
  --text: #010101;
  --border: #d0d6d6;
  --font-size: 1rem;
  --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  --rounded: 0.5rem;
  --gap: 6.5rem;
  --xs: 340px;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1280px;
  --xxl: 1400px;
}
