.welcome-slides {
  margin-bottom: 60px;
  .swiper-wrapper {
    .swiper-slide {
      padding: 0 4rem;
      .row-cols-2 {
        align-items: center;

        .section-title {
          font-size: 3vw;
        }
        .image {
          width: 100%;
        }
      }
    }
  }
}
