.chips {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.chip {
  --chip-color: var(--text);
  --chip-color-hover: var(--muted);
  --chip-bg: transparent;
  --chip-bg-hover: transparent;
  --chip-border: var(--border);
  --chip-border-hover: var(--border);
  --chip-shadow: transparent;
  --chip-font-size: clamp(10px, 50vw, 12px);
  --chip-rounded: 50px;
  --chip-padding: 0.2rem 0.5rem;
  --chip-gap: 0.1rem;
  border-radius: var(--chip-rounded);
  padding: var(--chip-padding);
  border: 2px solid var(--chip-border);
  color: var(--chip-color);
  background-color: var(--chip-bg);
  font-weight: 600;
  margin: var(--chip-gap);
  font-size: var(--chip-font-size);
  user-select: none;
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  .chip-icon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
  .close {
    cursor: pointer;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: var(--chip-color);
    font-size: 1.2rem;
    margin-left: 0.5rem;
    position: relative;
    top: 1px;
  }
}

a.chip {
  &:hover {
    color: var(--chip-color-hover);
    border-color: var(--chip-border-hover);
  }
}

.chip-primary {
  --chip-color: var(--primary);
  --chip-color-hover: var(--primary-hover);
  --chip-border: var(--primary);
  --chip-border-hover: var(--primary-hover);
  --chip-bg: transparent;
  --chip-bg-hover: transparent;
}
