.collapsible {
  margin-bottom: 2rem;
  --collapse-title-size: clamp(16px, 50vw, 18px);
  --collapse-desc-size: clamp(14px, 50vw, 16px);
  .collapse-item {
    border-bottom: 1px solid var(--border);
    position: relative;
    user-select: none;

    &.active {
      .collapse-head {
        color: var(--primary);
      }

      .collapse-body {
        display: block;
      }

      &::after {
        content: "\eb8d";
        transform: rotate(90deg);
        color: var(--primary);
      }
    }

    &:last-child {
      border: none;
    }

    &::after {
      content: "\ebc1";
      font-family: "icons";
      font-size: 1.8rem;
      transition: 0.5s transform;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .collapse-head {
      padding: 1rem 0;
      cursor: pointer;
      font-weight: 600;
      color: var(--text);
      font-size: var(--collapse-title-size);
      padding-right: 3rem;
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;
      text-align: left;
    }

    .collapse-body {
      padding: 1rem 0;
      display: none;
      color: var(--text);
      font-size: var(--collapse-desc-size);
    }
  }
}
.collapsible-lg {
  --collapse-title-size: clamp(20px, 50vw, 24px);
  --collapse-desc-size: clamp(18px, 50vw, 20px);
}
