.social-group {
  display: flex;
  align-items: center;
  .social-link {
    font-size: 25px;
    text-decoration: none;
    color: var(--text);
    margin-left: 0.5rem;
    cursor: pointer;
    &:hover {
      color: var(--primary);
    }
  }
}
