.page-filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  .text {
    font-weight: 600;
    font-size: 1rem;
    color: var(--text);
    margin-right: auto;
    margin-bottom: 20px;
    .count {
      color: var(--primary);
    }
  }
  .select {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;

    label {
      margin-right: 5px;
      font-weight: 600;
    }
    select {
      border: none;
      outline: none;
    }
  }
}
